Repository Atom-Learning/components: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

Update stitches.ts
  src/stitches.ts
Due: none

chore: add size-limit large lib to validate JS output size
  package.json
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

chore: add missing config files
  .editorconfig
  .eslintignore
Due: none

chore: update validation script to running eslint instead of prettier
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: add panel test
  src/primitives/panel/Panel.test.js
  src/primitives/panel/Panel.tsx
  src/primitives/panel/__snapshots__/Panel.test.js.snap
  src/types.d.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: move Panel to new components dir
  src/components/index.ts
  src/components/panel/Panel.stories.mdx
  src/components/panel/Panel.test.js
  src/components/panel/Panel.tsx
  src/components/panel/__snapshots__/Panel.test.js.snap
  src/components/panel/index.ts
  src/index.ts
  src/primitives/index.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: declare png type in sandbox
  sandbox/types.d.ts
  src/components/panel/Panel.stories.mdx
Due: none

feat: remove panel variants
  sandbox/index.tsx
  src/components/panel/Panel.test.js
  src/components/panel/Panel.tsx
  src/components/panel/__snapshots__/Panel.test.js.snap
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

test: adding jest-axe configuration and example WIP
  README.md
  package.json
  src/primitives/box/Box.test.js
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

feat: add return type for stitches utils funcs
  src/stitches.ts
Due: none

test: added tests for accessibility
  src/primitives/box/Box.test.js
  src/primitives/flex/Flex.test.js
  src/primitives/grid/Grid.test.js
  src/primitives/select/Select.tsx
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

docs: updated readme.md with accessibility section
  README.md
Due: none

test: added setupFiles for jest and cleaned up tests
  jest.config.js
  setupFiles.js
  src/primitives/box/Box.test.js
  src/primitives/flex/Flex.test.js
  src/primitives/grid/Grid.test.js
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: removed commented out eslint rules
  .eslintrc
Due: none

docs: wrapped html elements in backticks
  README.md
Due: none

feat: proper tests for input
  jest-setup.ts
  jest.config.js
  package.json
  src/components/TextField/TextField.test.js
  src/components/TextField/TextField.tsx
  src/components/TextField/__snapshots__/TextField.test.js.snap
  src/components/TextField/index.ts
  src/components/TextField/stories/TextField.stories.mdx
  src/primitives/index.ts
  src/primitives/input/Input.test.js
  src/primitives/input/Input.tsx
  src/primitives/input/__snapshots__/Input.test.js.snap
  src/primitives/input/index.ts
  src/primitives/input/stories/Input.stories.mdx
  src/stitches.ts
  tsconfig.json
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: recover missing work from git stash
  package.json
  sandbox/index.tsx
  src/components/index.ts
  src/components/password-field/PasswordField.test.js
  src/components/password-field/PasswordField.tsx
  src/components/password-field/__snapshots__/PasswordField.test.js.snap
  src/components/password-field/index.ts
  src/components/password-field/stories/PasswordField.stories.mdx
  src/components/text-field/TextField.test.js
  src/components/text-field/TextField.tsx
  src/components/text-field/__snapshots__/TextField.test.js.snap
  src/components/text-field/index.ts
  src/components/text-field/stories/TextField.stories.mdx
  src/index.ts
  src/primitives/index.ts
  src/primitives/label/Label.tsx
  src/primitives/label/index.ts
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

test: updated tests to not use ReactDOMServer
  README.md
  jest.config.js
  setupFiles.ts
  src/primitives/box/Box.test.js
  src/primitives/flex/Flex.test.js
  src/primitives/grid/Grid.test.js
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

docs: added note in readme
  README.md
  src/primitives/flex/Flex.test.js
  src/primitives/grid/Grid.test.js
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: rename TextField -> InputField
  sandbox/index.tsx
  src/components/index.ts
  src/components/input-field/InputField.test.js
  src/components/input-field/InputField.tsx
  src/components/input-field/__snapshots__/InputField.test.js.snap
  src/components/input-field/index.ts
  src/components/input-field/stories/InputField.stories.mdx
  src/components/text-field/index.ts
  src/components/text-field/stories/TextField.stories.mdx
  src/index.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: remove unused imports from sandbox
  sandbox/index.tsx
Due: none

feat: add Image primitive
  sandbox/index.tsx
  src/index.ts
  src/primitives/image/Image.tsx
  src/primitives/image/index.ts
  src/primitives/index.ts
Due: none

feat: add Image tests
  sandbox/index.tsx
  src/primitives/image/Image.test.js
  src/primitives/image/__snapshots__/Image.test.js.snap
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

feat: make Box wrapper optional in InputField and PasswordField
  src/components/input-field/InputField.tsx
  src/components/password-field/PasswordField.tsx
Due: none

feat: add autocomplete attribute to password input
  src/components/password-field/PasswordField.tsx
Due: none

feat: add CSSWrapper component
  src/components/input-field/InputField.tsx
  src/components/password-field/PasswordField.tsx
  src/utilities/CSSWrapper.tsx
Due: none

feat: strictly type InputField type prop
  src/components/input-field/InputField.tsx
Due: none

feat: add CSSWrapper tests
  src/components/input-field/InputField.tsx
  src/components/password-field/PasswordField.tsx
  src/utilities/CSSWrapper.tsx
  src/utilities/css-wrapper/CSSWrapper.test.js
  src/utilities/css-wrapper/CSSWrapper.tsx
  src/utilities/css-wrapper/__snapshots__/CSSWrapper.test.js.snap
  src/utilities/css-wrapper/index.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

feat: add CSSWrapper docs
  src/utilities/css-wrapper/stories/CSSWrapper.stories.mdx
Due: none

feat: add Image docs
  sandbox/index.tsx
  src/primitives/image/Image.tsx
  src/primitives/image/stories/Image.stories.mdx
Due: none

feat: simplify Image
  src/primitives/image/Image.tsx
Due: none

feat: add Link component, stories, test
  src/primitives/index.ts
  src/primitives/link/Link.test.js
  src/primitives/link/Link.tsx
  src/primitives/link/__snapshots__/Link.test.js.snap
  src/primitives/link/index.ts
  src/primitives/link/stories/Link.stories.mdx
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

feat: update PasswordField to use Link
  sandbox/index.tsx
  src/components/password-field/PasswordField.tsx
  src/primitives/link/Link.tsx
Due: none

chore: remove unused code from sandbox
  sandbox/index.tsx
Due: none

feat: add a11y test for Link
  src/primitives/link/Link.test.js
  src/primitives/link/__snapshots__/Link.test.js.snap
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

feat: update Link default styles
  src/primitives/link/Link.tsx
  src/primitives/link/stories/Link.stories.mdx
Due: none

feat: add Text primitive WIP
  src/primitives/index.ts
  src/primitives/text/Text.tsx
  src/primitives/text/index.ts
  src/primitives/text/stories/Text.stories.mdx
Due: none

feat: add Text docs
  src/primitives/text/Text.tsx
  src/primitives/text/stories/Text.stories.mdx
Due: none

feat: add Text tests
  src/primitives/text/Text.test.js
  src/primitives/text/__snapshots__/Text.test.js.snap
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: add Text component to sandbox
  sandbox/index.tsx
Due: none

Path conditions:
  node_modules/.bin/eslint --fix --cache --quiet: any of: src/**/*.{js, ts, tsx}
  node_modules/.bin/prettier --config .prettierrc --write: (any of: src/**/*.{js, ts, tsx}) or (any of: *.json)
  node_modules/.bin/jest --bail --findRelatedTests: any of: src/**/*.{js, ts, tsx}
