Repository Atom-Learning/components: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write

.lintstagedrc:

{
  "*.{js, ts, tsx}": [
    "node_modules/.bin/eslint --fix --cache --quiet",
    "node_modules/.bin/prettier --config .prettierrc --write"
  ],
  "*.json": "node_modules/.bin/prettier --config .prettierrc --write"
}

add sandbox
  .gitignore
  package.json
  sandbox/index.html
  sandbox/index.tsx
  src/Box.tsx
  src/Select.tsx
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

Chore: start on dir structures
  .eslintrc
  .storybook/main.js
  README.md
  package.json
  src/Box.tsx
  src/Flex.tsx
  src/index.ts
  src/primitives/Flex.tsx
  src/primitives/box/Box.stories.mdx
  src/primitives/box/Box.tsx
  src/primitives/box/index.ts
  src/primitives/index.ts
  src/primitives/select/Select.stories.mdx
  src/primitives/select/Select.tsx
  src/primitives/select/index.ts
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write

wip
  package.json
  sandbox/index.tsx
  src/Select.tsx
  src/index.ts
  src/stitches.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: integrate current theme into stitches config file, create utils and breakpoints
  src/stitches.ts
Due: none

chore: Added storybook-static in gitignore
  .gitignore
Due: none

Feat: add basic Box documentation
  src/primitives/box/Box.stories.mdx
  src/primitives/box/Box.tsx
  src/primitives/box/stories/Box.stories.mdx
  src/primitives/box/stories/CardExample.tsx
Due: none

fixed eslint TS parsing, added a few validation and linting scripts
  .eslintrc
  package.json
  src/index.ts
  src/primitives/box/index.ts
  src/primitives/index.ts
  src/primitives/select/index.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

Feat: Add basic sandbox layout
  sandbox/index.html
  sandbox/index.tsx
Due: none

Chore: remove text styling controls, add disableStitchesProps util
  src/primitives/box/Box.tsx
  src/primitives/box/stories/Box.stories.mdx
  src/utilities/storybook.ts
Due: none

docs: Added information about versioning
  CHANGELOG.md
  README.md
Due: none

Chore: fix CSS reset, move Sandbox components into own file
  sandbox/Sandbox.tsx
  sandbox/index.html
  sandbox/index.tsx
  src/index.ts
Due: none

Chore: update sandbox header to use theme color
  sandbox/Sandbox.tsx
Due: none

Chore: tidy up JSX
  sandbox/Sandbox.tsx
Due: none

Chore: semantificy some markup
  sandbox/Sandbox.tsx
Due: none

initial set-up work on Jest
  .babelrc
  .eslintrc
  .gitignore
  jest.config.js
  package.json
  src/primitives/box/Box.test.js
  src/primitives/box/__snapshots__/Box.test.js.snap
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write

merge main
  .eslintrc
  .gitignore
  package.json
  src/index.ts
  src/primitives/box/Box.stories.mdx
  src/primitives/box/Box.tsx
  src/primitives/box/index.ts
  src/primitives/box/stories/Box.stories.mdx
  src/primitives/box/stories/CardExample.tsx
  src/primitives/index.ts
  src/primitives/select/index.ts
  src/utilities/storybook.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

fix: add types to stitches config
  .gitignore
  src/primitives/box/stories/CardExample.tsx
  src/stitches.ts
Due: none

Chore: move message about not committing changes to example box
  sandbox/Sandbox.tsx
  sandbox/index.tsx
Due: none

Chore: move CSS reset
  sandbox/Sandbox.tsx
  sandbox/index.tsx
  src/index.ts
Due: none

improve test name
  src/primitives/box/Box.test.js
  src/primitives/box/__snapshots__/Box.test.js.snap
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write

add jest to precommit
  .lintstagedrc
Due: none

improve type
  src/stitches.ts
Due: none

WIP: copying basic styling
  sandbox/index.tsx
Due: none

chore: added linter for commit messages
  package.json
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

WIP: input styling
  sandbox/index.tsx
Due: none

Chore: fix tonal colors order
  src/stitches.ts
Due: none

chore: recreated yarn.lock
  yarn.lock
Due: none

chore: Update .gitignore to remove duplicates
  .gitignore
Due: none

chore: enabled strict mode on eslint a11y checks
  .eslintrc
  src/stitches.ts
Due: none

chore: Added a test:watch task for running tests continiously
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

Feat: build login page in sandbox
  sandbox/atom-logo.png
  sandbox/index.html
  sandbox/index.tsx
Due: none

chore: simplify Input prop type def
  sandbox/index.tsx
Due: none

chore: enabled strict mode for a11y testing
  .eslintrc
  yarn.lock
Due: none

feat: add flex component, update snapshots, include code coverage in test
  .gitignore
  jest.config.js
  src/primitives/box/stories/Box.stories.mdx
  src/primitives/flex/Flex.test.js
  src/primitives/flex/Flex.tsx
  src/primitives/flex/__snapshots__/Flex.test.js.snap
  src/primitives/flex/index.ts
  src/primitives/flex/stories/Flex.stories.mdx
  src/primitives/index.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write

feat: added a11y storybook addon
  .storybook/main.js
  package.json
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write

feat: add panel component with one size variant, basic docs
  sandbox/index.tsx
  src/index.ts
  src/primitives/index.ts
  src/primitives/panel/Panel.stories.mdx
  src/primitives/panel/Panel.tsx
  src/primitives/panel/index.ts
  src/types.d.ts
Due: none

feat: create Grid component, update docs for Flex & Box, tidy up storybook set up files
  .storybook/main.js
  .storybook/preview.js
  src/primitives/box/stories/Box.stories.mdx
  src/primitives/box/stories/CardExample.tsx
  src/primitives/flex/stories/Flex.stories.mdx
  src/primitives/grid/Grid.test.js
  src/primitives/grid/Grid.tsx
  src/primitives/grid/__snapshots__/Grid.test.js.snap
  src/primitives/grid/index.ts
  src/primitives/grid/stories/Grid.stories.mdx
  src/primitives/index.ts
  src/stitches.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write
