Repository Atom-Learning/components: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

.lintstagedrc:

{
  "src/**/*.{js, ts, tsx}": [
    "node_modules/.bin/eslint --fix --cache --quiet",
    "node_modules/.bin/prettier --config .prettierrc --write",
    "node_modules/.bin/jest --bail --findRelatedTests",
  ],
  "*.json": "node_modules/.bin/prettier --config .prettierrc --write"
}

Create main.yml
  .github/workflows/main.yml
Due: none

fix: ensure correct pkg registry is used
  .github/workflows/main.yml
  .npmrc
  yarn.lock
Due: none

feat: add validate script to CI
  .github/workflows/main.yml
Due: none

fix: npm script
  .github/workflows/main.yml
Due: none

feat: replace theme with package, utilise esmodule export
  package.json
  src/stitches.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

Update README.md
  README.md
Due: none

fix: install theme package from correct registry
  yarn.lock
Due: none

fix: theme version range -> specific version
  yarn.lock
Due: none

feat: add useful packages to build, fix name and output fields, add missing prettier ignore
  .babelrc
  .prettierignore
  package.json
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

fix: github action yarn lockfile issue
  .github/workflows/main.yml
Due: none

fix: package registry location
  yarn.lock
Due: none

feat: add button and initial variations
  src/primitives/button/Button.test.js
  src/primitives/button/Button.tsx
  src/primitives/button/__snapshots__/Button.test.js.snap
  src/primitives/button/index.ts
  src/primitives/button/stories/Button.stories.mdx
  src/primitives/index.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

fix: revert workflow update and recreate yarn.lock
  .github/workflows/main.yml
  yarn.lock
Due: none

refactor: moved default prop to defaultProps
  src/primitives/button/Button.tsx
Due: none

chore: added active state for buttons
  src/primitives/button/Button.tsx
  src/primitives/button/__snapshots__/Button.test.js.snap
Due: none

chore: code review tweaks
  src/primitives/button/Button.tsx
  src/primitives/button/__snapshots__/Button.test.js.snap
  src/primitives/button/stories/Button.stories.mdx
Due: none

chore: added button to sandbox for demo purposes
  sandbox/index.tsx
  src/primitives/button/Button.tsx
  src/primitives/button/__snapshots__/Button.test.js.snap
Due: none

chore: replacing anchors with Link component in sandbox
  sandbox/Sandbox.tsx
Due: none

fix: github workflow install, sandbox build directory
  .github/workflows/main.yml
  .gitignore
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

fix: add missing dependency
  yarn.lock
Due: none

feat: added outlined variants
  src/primitives/button/Button.tsx
  src/primitives/button/stories/Button.stories.mdx
Due: none

feat: added disabled states for buttons
  src/primitives/button/Button.tsx
  src/primitives/button/stories/Button.stories.mdx
Due: none

test: updated snapshot
  src/primitives/button/__snapshots__/Button.test.js.snap
Due: none

chore: cleaned up sandbox
  sandbox/Sandbox.tsx
Due: none

fix: return actual children
  src/utilities/css-wrapper/CSSWrapper.tsx
Due: none

docs: updated readme with available commands
  README.md
Due: none

refactor: removed sandbox.tsx
  sandbox/Sandbox.tsx
  sandbox/index.tsx
Due: none

fix: changed png type as it was throwing a warning
  sandbox/types.d.ts
Due: none

refactor: renamed primitives to components
  src/components/box/Box.test.js
  src/components/box/Box.tsx
  src/components/box/__snapshots__/Box.test.js.snap
  src/components/box/index.ts
  src/components/box/stories/Box.stories.mdx
  src/components/box/stories/CardExample.tsx
  src/components/flex/Flex.test.js
  src/components/flex/Flex.tsx
  src/components/flex/__snapshots__/Flex.test.js.snap
  src/components/flex/index.ts
  src/components/flex/stories/Flex.stories.mdx
  src/components/grid/Grid.test.js
  src/components/grid/Grid.tsx
  src/components/grid/__snapshots__/Grid.test.js.snap
  src/components/grid/index.ts
  src/components/grid/stories/Grid.stories.mdx
  src/components/index.ts
  src/components/select/Select.stories.mdx
  src/components/select/Select.tsx
  src/components/select/index.ts
  src/index.ts
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

wip
  package.json
  sandbox/index.html
  sandbox/index.tsx
  src/components/form/Form.tsx
  src/components/index.ts
  src/components/panel/Panel.tsx
  src/components/password-field/PasswordField.tsx
  src/primitives/button/Button.tsx
  src/primitives/flex/Flex.tsx
  src/primitives/index.ts
  src/primitives/input/Input.tsx
  src/primitives/label/Label.tsx
  src/primitives/link/Link.tsx
  src/primitives/text/Text.tsx
  src/primitives/tooltip/Tooltip.tsx
  src/primitives/tooltip/index.ts
  src/stitches.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: add path alias ~/* for src/*
  .eslintrc
  .storybook/main.js
  jest.config.js
  package.json
  src/components/box/Box.test.js
  src/components/box/Box.tsx
  src/components/box/__snapshots__/Box.test.js.snap
  src/components/box/index.ts
  src/components/box/stories/Box.stories.mdx
  src/components/box/stories/CardExample.tsx
  src/components/flex/Flex.test.js
  src/components/flex/Flex.tsx
  src/components/flex/__snapshots__/Flex.test.js.snap
  src/components/flex/index.ts
  src/components/flex/stories/Flex.stories.mdx
  src/components/grid/Grid.test.js
  src/components/grid/Grid.tsx
  src/components/grid/__snapshots__/Grid.test.js.snap
  src/components/grid/index.ts
  src/components/grid/stories/Grid.stories.mdx
  src/components/index.ts
  src/components/select/Select.stories.mdx
  src/components/select/Select.tsx
  src/components/select/index.ts
  src/index.ts
  src/primitives/box/Box.tsx
  tsconfig.json
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

docs: updated README.md with contribution instructions
  README.md
Due: none

feat: update jest config to match tsconfig path alias
  jest.config.js
Due: none

chore: add TODO: remove tsconfig-paths-webpack-plugin
  .storybook/main.js
Due: none

docs: moved contribution into separate file
  CONTRIBUTING.md
  README.md
Due: none

docs: final tweaks to contribution.md
  CONTRIBUTING.md
  README.md
Due: none

feat: copy work from login mockup branch
  CONTRIBUTING.md
  package.json
  setupFiles.ts
  src/components/input/Input.test.tsx
  src/components/input/Input.tsx
  src/components/input/__snapshots__/Input.test.tsx.snap
  src/components/input/index.ts
  src/utilities/override.ts
  tsconfig.json
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: add dependencies
  jest-setup.ts
  jest.config.js
  package.json
  setupFiles.ts
  src/components/box/Box.test.tsx
  src/components/box/__snapshots__/Box.test.tsx.snap
  src/components/flex/Flex.test.tsx
  src/components/flex/__snapshots__/Flex.test.tsx.snap
  src/components/grid/Grid.test.tsx
  src/components/grid/__snapshots__/Grid.test.tsx.snap
  tsconfig.json
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write
