Repository Atom-Learning/components: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

.lintstagedrc:

{
  "src/**/*.{js, ts, tsx}": [
    "node_modules/.bin/eslint --fix --cache --quiet",
    "node_modules/.bin/prettier --config .prettierrc --write",
    "node_modules/.bin/jest --bail --findRelatedTests",
  ],
  "*.json": "node_modules/.bin/prettier --config .prettierrc --write"
}

feat: update styling/layout for new theme, create components sandbox to test
  CONTRIBUTING.md
  sandbox/components/components.tsx
  sandbox/components/index.html
  src/components/action-icon/ActionIcon.tsx
  src/components/alert-dialog/AlertDialogContent.tsx
  src/components/alert-dialog/alert-context/AlertDialog.tsx
  src/components/button/Button.mdx
  src/components/button/Button.tsx
  src/components/carousel/CarouselArrows.tsx
  src/components/carousel/CarouselPagination.tsx
  src/components/checkbox/Checkbox.tsx
  src/components/combobox/ComboboxInput.tsx
  src/components/combobox/ComboboxOption.tsx
  src/components/combobox/ComboboxPopover.tsx
  src/components/field-wrapper/InlineFieldWrapper.tsx
  src/components/heading/Heading.tsx
  src/components/icon/Icon.mdx
  src/components/icon/Icon.tsx
  src/components/input-field/InputField.tsx
  src/components/input/Input.tsx
  src/components/label/Label.tsx
  src/components/link/Link.tsx
  src/components/list/List.tsx
  src/components/popover/PopoverContent.tsx
  src/components/progress-bar/ProgressBar.tsx
  src/components/radio-field/RadioGroupField.tsx
  src/components/radio/RadioButton.tsx
  src/components/select/Select.tsx
  src/components/tabs/TabTrigger.tsx
  src/components/tabs/Tabs.tsx
  src/components/text/Text.tsx
  src/components/textarea/Textarea.tsx
  src/components/toast/Toast.tsx
  src/components/tooltip/TooltipContent.tsx
  src/components/video/Video.tsx
  src/utilities/style/capsize.ts
Due: none

fix: update tests
  src/components/action-icon/__snapshots__/ActionIcon.test.tsx.snap
  src/components/button/__snapshots__/Button.test.tsx.snap
  src/components/carousel/__snapshots__/Carousel.test.tsx.snap
  src/components/checkbox-field/__snapshots__/CheckboxField.test.tsx.snap
  src/components/checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/field-wrapper/__snapshots__/FieldWrapper.test.tsx.snap
  src/components/heading/__snapshots__/Heading.test.tsx.snap
  src/components/icon/__snapshots__/Icon.test.tsx.snap
  src/components/input-field/__snapshots__/InputField.test.tsx.snap
  src/components/input/__snapshots__/Input.test.tsx.snap
  src/components/label/__snapshots__/Label.test.tsx.snap
  src/components/link/__snapshots__/Link.test.tsx.snap
  src/components/list/__snapshots__/List.test.tsx.snap
  src/components/password-field/__snapshots__/PasswordField.test.tsx.snap
  src/components/password-input/__snapshots__/PasswordInput.test.tsx.snap
  src/components/progress-bar/__snapshots__/ProgressBar.test.tsx.snap
  src/components/radio-field/__snapshots__/RadioField.test.tsx.snap
  src/components/radio/__snapshots__/RadioButton.test.tsx.snap
  src/components/select-field/__snapshots__/SelectField.test.tsx.snap
  src/components/select/__snapshots__/Select.test.tsx.snap
  src/components/text/__snapshots__/Text.test.tsx.snap
  src/components/textarea-field/__snapshots__/TextareaField.test.tsx.snap
  src/components/textarea/__snapshots__/Textarea.test.tsx.snap
  src/components/validation-error/__snapshots__/ValidationError.test.tsx.snap
Due: none

feat: update components test view, tweak colours and dialog style
  sandbox/components/components.tsx
  src/components/alert-dialog/alert-context/AlertDialog.tsx
  src/components/heading/Heading.tsx
  src/components/text/Text.tsx
Due: none

feat: continued minor tweaks and fixes
  sandbox/components/components.tsx
  src/components/button/Button.tsx
  src/components/checkbox-field/CheckboxField.tsx
  src/components/checkbox/Checkbox.tsx
  src/components/combobox/ComboboxInput.tsx
  src/components/combobox/ComboboxOption.tsx
  src/components/combobox/ComboboxPopover.tsx
  src/components/field-wrapper/FieldWrapper.tsx
  src/components/field-wrapper/InlineFieldWrapper.tsx
  src/components/icon/Icon.tsx
  src/components/input-field/InputField.tsx
  src/components/input/Input.tsx
  src/components/progress-bar/ProgressBar.tsx
  src/components/radio-field/RadioGroupField.tsx
  src/components/radio/RadioButton.tsx
  src/components/radio/RadioButtonGroup.tsx
  src/components/select-field/SelectField.tsx
  src/components/select/Select.tsx
  src/components/switch/Switch.tsx
  src/components/tabs/TabTrigger.tsx
  src/components/textarea-field/TextareaField.tsx
  src/components/textarea/Textarea.tsx
  src/components/tooltip/TooltipContent.tsx
  src/components/validation-error/ValidationError.tsx
  src/utilities/style/encode-background-icon.ts
Due: none

fix: update snapshots, remove logs
  sandbox/components/components.tsx
  src/components/button/__snapshots__/Button.test.tsx.snap
  src/components/checkbox-field/CheckboxField.tsx
  src/components/checkbox-field/__snapshots__/CheckboxField.test.tsx.snap
  src/components/checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/field-wrapper/__snapshots__/FieldWrapper.test.tsx.snap
  src/components/heading/__snapshots__/Heading.test.tsx.snap
  src/components/input-field/__snapshots__/InputField.test.tsx.snap
  src/components/input/__snapshots__/Input.test.tsx.snap
  src/components/link/__snapshots__/Link.test.tsx.snap
  src/components/password-field/__snapshots__/PasswordField.test.tsx.snap
  src/components/password-input/__snapshots__/PasswordInput.test.tsx.snap
  src/components/progress-bar/__snapshots__/ProgressBar.test.tsx.snap
  src/components/radio-field/RadioGroupField.tsx
  src/components/radio-field/__snapshots__/RadioField.test.tsx.snap
  src/components/radio/RadioButtonGroup.tsx
  src/components/radio/__snapshots__/RadioButton.test.tsx.snap
  src/components/radio/__snapshots__/RadioButtonGroup.test.tsx.snap
  src/components/select-field/__snapshots__/SelectField.test.tsx.snap
  src/components/select/Select.tsx
  src/components/select/__snapshots__/Select.test.tsx.snap
  src/components/switch/__snapshots__/Switch.test.tsx.snap
  src/components/text/__snapshots__/Text.test.tsx.snap
  src/components/textarea-field/__snapshots__/TextareaField.test.tsx.snap
  src/components/textarea/__snapshots__/Textarea.test.tsx.snap
  src/components/validation-error/__snapshots__/ValidationError.test.tsx.snap
  src/stitches.ts
Due: none

fix: new theme, stitches types
  package.json
  src/components/grid/Grid.tsx
  src/components/stack/Stack.tsx
  src/stitches.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: updated HeaderCell styles to match Atom
  src/components/table/HeaderCell.tsx
  src/components/table/__snapshots__/Table.test.tsx.snap
Due: none

feat: update docs, minor colour updates, add justify to stack
  sandbox/components/components.tsx
  src/components/alert-dialog/alert-context/AlertDialog.tsx
  src/components/carousel/Carousel.mdx
  src/components/combobox/ComboboxInput.tsx
  src/components/dialog/DialogContent.tsx
  src/components/flex/Flex.mdx
  src/components/grid/Grid.mdx
  src/components/input/Input.tsx
  src/components/link/Link.tsx
  src/components/radio/RadioButtonGroup.tsx
  src/components/select/Select.tsx
  src/components/stack/Stack.mdx
  src/components/stack/Stack.tsx
  src/components/textarea/Textarea.tsx
  src/documentation/Styling.mdx
Due: none

fix: update snapshots
  src/components/combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/field-wrapper/__snapshots__/FieldWrapper.test.tsx.snap
  src/components/input-field/__snapshots__/InputField.test.tsx.snap
  src/components/input/__snapshots__/Input.test.tsx.snap
  src/components/link/Link.tsx
  src/components/password-field/__snapshots__/PasswordField.test.tsx.snap
  src/components/password-input/__snapshots__/PasswordInput.test.tsx.snap
  src/components/radio-field/__snapshots__/RadioField.test.tsx.snap
  src/components/radio/__snapshots__/RadioButton.test.tsx.snap
  src/components/radio/__snapshots__/RadioButtonGroup.test.tsx.snap
  src/components/select-field/__snapshots__/SelectField.test.tsx.snap
  src/components/select/__snapshots__/Select.test.tsx.snap
  src/components/stack/__snapshots__/Stack.test.tsx.snap
  src/components/textarea-field/__snapshots__/TextareaField.test.tsx.snap
  src/components/textarea/__snapshots__/Textarea.test.tsx.snap
Due: none

chore: release 1.0.0-beta.1
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: added FooterCell component and refactored styles
  src/components/table/Cell.tsx
  src/components/table/Footer.tsx
  src/components/table/FooterCell.tsx
  src/components/table/Table.tsx
Due: none

feat: updated display names for better semantics
  src/components/table/Body.tsx
  src/components/table/Cell.tsx
  src/components/table/Footer.tsx
  src/components/table/FooterCell.tsx
  src/components/table/Header.tsx
  src/components/table/HeaderCell.tsx
  src/components/table/Row.tsx
Due: none

feat: updated doucmentation
  src/components/table/Table.mdx
  src/components/table/__snapshots__/Table.test.tsx.snap
Due: none

fix: minor style tweaks
  src/components/form/Form.types.ts
  src/components/popover/PopoverContent.tsx
  src/components/toast/Toast.tsx
  src/components/toast/__snapshots__/ToastProvider.test.tsx.snap
  src/components/video/Video.tsx
  src/components/video/__snapshots__/Video.test.tsx.snap
Due: none

feat: updated test
  src/components/table/Table.test.tsx
Due: none

feat: renamed subcomponents and small simplification refactor to Table.tsx
  src/components/table/Body.tsx
  src/components/table/Footer.tsx
  src/components/table/Header.tsx
  src/components/table/Row.tsx
  src/components/table/Table.tsx
  src/components/table/TableBody.tsx
  src/components/table/TableCell.tsx
  src/components/table/TableFooter.tsx
  src/components/table/TableFooterCell.tsx
  src/components/table/TableHeader.tsx
  src/components/table/TableHeaderCell.tsx
  src/components/table/TableRow.tsx
  src/components/table/__snapshots__/Table.test.tsx.snap
Due: none

fix: checkbox & radio layout issue, added xs text size, tweaked sm button spacing
  src/components/button/Button.tsx
  src/components/button/__snapshots__/Button.test.tsx.snap
  src/components/checkbox/Checkbox.tsx
  src/components/field-wrapper/__snapshots__/FieldWrapper.test.tsx.snap
  src/components/input-field/__snapshots__/InputField.test.tsx.snap
  src/components/link/__snapshots__/Link.test.tsx.snap
  src/components/list/__snapshots__/List.test.tsx.snap
  src/components/radio-field/__snapshots__/RadioField.test.tsx.snap
  src/components/radio/RadioButton.tsx
  src/components/radio/__snapshots__/RadioButton.test.tsx.snap
  src/components/select-field/__snapshots__/SelectField.test.tsx.snap
  src/components/select/Select.tsx
  src/components/select/__snapshots__/Select.test.tsx.snap
  src/components/text/Text.tsx
  src/components/text/__snapshots__/Text.test.tsx.snap
  src/components/tooltip/TooltipContent.tsx
  src/components/validation-error/__snapshots__/ValidationError.test.tsx.snap
Due: none

chore: release 1.0.0-beta.3
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

chore: release 0.11.0
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

chore: release 1.0.0-beta.4
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

fix: path aliases in emitted type files
  package.json
  src/components/alert-dialog/alert-context/AlertContext.tsx
  src/components/alert-dialog/alert-context/AlertDialog.tsx
  src/components/alert-dialog/alert-context/types.ts
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

chore: release 0.11.1
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

feat: add directives to MarkdownContent; style update MarkdownContent; add ordered type to List
  babel.config.json
  jest.config.js
  package.json
  src/components/image/Image.tsx
  src/components/list/List.mdx
  src/components/list/List.test.tsx
  src/components/list/List.tsx
  src/components/list/__snapshots__/List.test.tsx.snap
  src/components/markdown-content/MarkdownContent.mdx
  src/components/markdown-content/MarkdownContent.test.tsx
  src/components/markdown-content/MarkdownContent.tsx
  src/components/markdown-content/__mockdata__/mockMarkdown.js
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
  src/components/radio/RadioButton.tsx
  yarn.lock
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: downgraded packages so that they work with our commonjs projects
  jest.config.js
  package.json
  src/components/markdown-content/MarkdownContent.tsx
  tsconfig.json
  yarn.lock
Due: node_modules/.bin/prettier --config .prettierrc --write

=fix: restored original sandbox
  sandbox/index.tsx
Due: none

feat: allow 'xl' on Heading
  src/components/heading/Heading.tsx
  src/components/markdown-content/MarkdownContent.tsx
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
Due: none

chore: removed strikethrough option
  src/components/markdown-content/__mockdata__/mockMarkdown.js
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
Due: node_modules/.bin/eslint --fix --cache --quiet, node_modules/.bin/prettier --config .prettierrc --write, node_modules/.bin/jest --bail --findRelatedTests

chore: changed jest config back to only transform .ts and .tsx
  jest.config.js
  src/components/markdown-content/__mockdata__/mockMarkdown.ts
Due: none

chore: cleanup of handleNode function in MarkdownContent
  src/components/heading/Heading.tsx
  src/components/markdown-content/MarkdownContent.tsx
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
Due: none

fix: incorrect prop in List docs
  src/components/list/List.mdx
Due: none

fix: added description to MarkdownContent doc
  src/components/markdown-content/MarkdownContent.mdx
Due: none

chore: release 0.12.0
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

chore: release beta.6
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write

fix: restored original spacing between items in StackContent
  src/components/markdown-content/MarkdownContent.tsx
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
  src/components/stack-content/StackContent.tsx
Due: none

fix: inherit text color from the ancestor
  src/components/markdown-content/MarkdownContent.tsx
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
Due: none

fix: documentation errors
  src/components/markdown-content/MarkdownContent.mdx
Due: none

feat: added css prop to MarkdownContent
  src/components/markdown-content/MarkdownContent.tsx
  src/components/markdown-content/__snapshots__/MarkdownContent.test.tsx.snap
Due: none

chore: release beta.7
  package.json
Due: node_modules/.bin/prettier --config .prettierrc --write
